{% extends "base.html" %}
{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='user.css') }}">
<h2>Accounts</h2>
<div class = "container">
  <form action="" method="post" name = "acounts">
      <div class = "left">
        Google Drive:
      </div>
      <div class = "right">
        {%if user.gd_access_token is none %}
          <button name="gd_in" type="submit" value="Log In">Log In</button>
        {%else%}
          <button  name="gd_in" type="submit" value="Log Out">Log Out</button>
        {%endif%}
      </div>
      <hr>
      <div class = "left">
        Dropbox:
      </div>
      <div class = "right">
        {%if user.db_access_token is none%}
          <button name="db_in" type="submit" value="Log In">Log In</button>
        {%else%}
          <button  name="db_in" type="submit" value="Log Out">Log Out</button>
        {%endif%}
      </div>
  </form>
</div>

{% endblock %}